      <section class="w-full hidden lg:block lg:min-w-[300px] lg:w-[300px] rounded">
        <div class="overflow-hidden hidden md:block bg-white shadow border">
          <ul class="transition-all" data-ref="my-profile">

            <% [
                {title: "My Profile", link: "/my-profile", icon: "user"},
                {title: "My Orders", link: "/my-orders", icon: 'list'},
                {title: "Change Password", link: "/change-password", icon: 'lock'},
                {title: "Logout", link: "/logout", icon: "right-from-bracket"},
              ]?.forEach((item)=>{ %>
            <li>
              <% if (active == item?.link) { %>
              <a class="bg-blue-600 text-white text-sm font-medium flex items-center justify-start w-full gap-2 p-3 uppercase" href="<%=item?.link%>">
                <span class="w-[20px] text-xs"><i class="fa fa-<%=item?.icon%>"></i></span>
                <span> <%=item?.title%> </span></a>
              <% } else {%>
              <a class="hover:bg-blue-500 hover:text-white text-sm font-medium flex items-center justify-start w-full gap-2 text-[#2a3744] p-3 uppercase" href="<%=item?.link%>">
                <span class="w-[20px] text-xs"><i class="fa fa-<%=item?.icon%>"></i></span>
                <span> <%=item?.title%> </span></a>
              <% } %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>