<%-include("../../partials/header.ejs")-%>

<section class="bg-gray-100">
  <div class="bg-white border border-opacity-50 py-16">
    <div class="content">
      <div>
        <h2 class="block text-2xl sm:text-3xl lg:text-4xl font-semibold">
          Products
        </h2>
        <div class="block mt-3 sm:mt-5 text-xs sm:text-sm font-medium text-slate-700 dark:text-slate-400">
          <a class="" href="/">Home</a>
          <span class="text-xs mx-1 sm:mx-1.5">/</span>
          <span class="underline"> Items </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_gap">

  <div class="content">
    <h2 class="text-center xl:text-left">Products</h2>
    <br />
    <div class="grid grid-cols-2 gap-4 lg:gap-6 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
      <% if (products?.length < 1) { %>
      <h3 class="pt-20 pb-40 text-yellow-600">Not Found!</h3>

      <% }%> <% products?.forEach(product => { %>
      <%- include('./product-box.ejs', {product}) %>
      <% }) %>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="content">
    <div class="w-full flex items-center justify-between">



      <% if (totalPages > 1) { %>
      <ul class="flex items-center space-x-1">
        <li>
          <a href="/items?page=<%=currentPage-1%>&limit=<%=limit%>" class="relative inline-flex items-center px-4 py-2.5 text-sm font-medium border border-gray-300 rounded dark:hover:text-gray-100 dark:border-gray-700 dark:bg-gray-700 dark:hover:bg-blue-400 dark:text-gray-300 bg-pink-600 text-white">
            <i class="fa fa-arrow-left"></i>
            <span class="ml-2">Previous</span>
          </a>
        </li>

        <% new Array(totalPages).fill("").forEach((_,index)=>{ %> <% if
        (index+1===currentPage) { %>
        <li>
          <a href="/items?page=<%=index+1%>&limit=<%=limit%>" class="px-4 py-2 bg-blue-600 text-white border border-blue-600 rounded dark:hover:text-gray-100 dark:border-gray-700 dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-blue-400 hover:bg-blue-400 hover:text-white">
            <%=index+1%>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/items?page=<%=index+1%>&limit=<%=limit%>" class="px-4 py-2 text-blue-600 border border-blue-600 rounded bg-blue-50 dark:hover:text-gray-100 dark:border-gray-700 dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-blue-400 hover:bg-blue-400 hover:text-white">
            <%=index+1%>
          </a>
        </li>
        <% } %> <%})%>

        <li>
        <li>
          <a href="/items?page=<%=currentPage+1%>&limit=<%=limit%>" class="relative inline-flex items-center px-4 py-2.5 text-sm font-medium border border-gray-300 rounded dark:hover:text-gray-100 dark:border-gray-700 dark:bg-gray-700 dark:hover:bg-blue-400 dark:text-gray-300 bg-pink-600 text-white">
            <span class="mr-2">Next</span>
            <i class="fa fa-arrow-right"></i>
          </a>
        </li>
        </li>
      </ul>
      <% } %>

      <div class="px-4 py-2 rounded bg-pink-600 text-white">Page: <%=currentPage%></div>
    </div>
  </div>
  <br>
</div>
<!-- Footer -->
<%-include("../../partials/footer.ejs")-%>