<div class="overflow-hidden bg-white rounded shadow dark:bg-gray-700 flex flex-col justify-between border">

  <a class="relative block h-fit overflow-hidden shadow border rounded group" href="/item/<%=product?.slug%>">
    <img src="<%=product?.images[0]%>" class="group-hover:scale-105 transition-all" alt="" />
  </a>

  <div class="relative z-20 p-3 md:p-7 mt-auto">
    <a href="/item/<%=product?.slug%>" class="mb-2 lg:text-xl font-bold text-black dark:text-white block">
      <%=product?.name%>
    </a>

    <div class="flex items-center justify-between border-b border-gray-300 dark:border-gray-600 pb-5 mb-5">
      <div class="flex gap-1 text-orange-400 text-xs">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <div data-ripple-light="true">
        <button onclick="toggleFavoriteItem(`<%=product?.id%>`)" data-id="<%=product?.id%>" class="favoriteBtn mt-icon-btn text-red-600 lg:text-xl">
          <i class="fa-regular fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="flex items-center justify-between mt-auto gap-2">
      <span class="inline-block px-2 py-1 sm:px-4 sm:py-2 text-base font-bold text-white bg-green-600 rounded">
        ৳<%=product?.sale_price%>
      </span>

      <div data-ripple-dark="true">
        <button onclick="toggleCartItem(`<%=JSON.stringify({
        images: product?.images,
        name: product?.name,
        sale_price: product?.sale_price,
        purchase_price: product?.purchase_price,
        slug: product?.slug,
        in_stock: product?.in_stock, 
        id: product?.id, 
         })%>`)" data-id="<%=product?.id%>" class="cartBtn mt-btn bg-blue-600 text-white !px-4 !py-2">
          <span class="hidden sm:inline-block"> Add To Cart </span>
        </button>
      </div>
    </div>
  </div>
</div>