<!-- sub header -->
<nav style="
    background: <%=setting?.sub_header_bg%>;
    color: <%=setting?.sub_header_text%>;
  " class="sub_header">
  <div class="mx-auto w-full sm:w-[98%] xl:w-[90%] 2xl:w-[1380px] flex items-center justify-between">
    <ul class="sub_header_links w-full sm:w-fit">
      <li href="#" class="flex group relative w-full lg:w-fit bg-green-600 rounded-[2px]">
        <a href="#" class="space-x-3 text-white">
          <i class="fa fa-bars"></i>
          <span>All Departments</span>
          <small>
            <i class="fa fa-chevron-down transform transition-all group-hover:-rotate-180"></i>
          </small>
        </a>

        <ul class="sub_menu group-hover:scale-y-100 max-h-[500px] overflow-auto !rounded-b">
          <% categories?.forEach(category => { %>
          <li>
            <a class="whitespace-nowrap" href="/items?category=<%=category?.slug%>">
              <% if (category?.icon) { %>
              <img class="w-5" src="<%=category?.icon%>" alt="" />
              <% } else { %>
              <i class="fa-solid fa-plate-wheat"></i>
              <% } %>
              
              <span> <%=category?.name%> </span>
            </a>
          </li>
          <% }) %>
        </ul>
      </li>

      <% categories?.filter((_,i)=>i<3)?.forEach(category=>{ %>
      <li class="hidden lg:flex focus:bg-blue-100 hover:bg-gray-200">
        <a href="/items?category=<%=category?.slug%>"> <%=category?.name%> </a>
      </li>
      <% }) %>

      <li class="hidden lg:flex focus:bg-blue-100">
        <a href="/items"><i class="fa fa-shopping-cart"></i> Shop </a>
      </li>

      <li class="hidden lg:flex focus:bg-blue-100">
        <a href="/contact"><i class="fa fa-envelope"></i> Contact</a>
      </li>

      <li href="#" class="hidden lg:flex focus:bg-blue-100 group relative">
        <a href="#" class="space-x-3">
          <span>Pages</span>
          <small>
            <i class="fa fa-chevron-down transform transition-all group-hover:-rotate-180"></i>
          </small>
        </a>

        <ul class="sub_menu group-hover:scale-y-100 max-h-[300px] overflow-auto !rounded-b">
          <% pages?.forEach(page => { %>
          <li>
            <a class="whitespace-nowrap" href="/pages/<%=page?.slug%>">
              <span> <%=page?.name%> </span>
            </a>
          </li>
          <% }) %>
        </ul>
      </li>
    </ul>

    <div class="hidden sm:flex items-center gap-3">
      <div class="text-3xl">
        <i class="fab fa-whatsapp"></i>
      </div>
      <div class="leading-4">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=<%=setting?.phone%>&text=Hi,%20is%20anyone%20available%20to%20chat?"> <%=setting?.phone%> </a>
      </div>
    </div>
  </div>
</nav>