   <div class="w-full lg:w-[36%]">

     <div class=" bg-gray-100 p-6 rounded shadow">
       <% paymentMethods?.forEach((method)=>{ %>
       <div data-method="<%=method?.name%>" class="hidden paymentDescription">
         <div class="flex items-center gap-1 mb-2">
           <span> Payment Here: </span>
           <b id="<%=method?.wallet%>"><%=method?.wallet%></b>
           <div class="w-fit">
             <button type="button" onclick="copyToClipboard('#<%=method?.wallet%>')" class="btn bg-blue-600 text-white !py-2">
               Copy
             </button>
           </div>
         </div>
         <div> <%- method?.description %> </div>
       </div>
       <%})%>
       <br>
       <div>
         <label for="paymentID">TransactionID/PaymentID</label>
         <input required name="paymentID" id="paymentID" type="text" placeholder="Payment ID" class="input px-4 py-2" />
       </div>
     </div>
     <br>
     <br>

     <div class="p-6 border border-blue-100 dark:bg-gray-900 dark:border-gray-900 bg-blue-50 md:p-8">
       <h2 class="mb-8 font-semibold text-gray-700 dark:text-gray-400 flex justify-between items-center flex-col gap-2 sm:flex-row">
         <span class="text-2xl">Checkout Summary</span>
         <small class="text-base"> (<span class="cartQuantity"> 0 </span> Items)</small>
       </h2>
       <div class="flex items-center justify-between pb-4 mb-4 border-b border-gray-300 dark:border-gray-700 ">
         <span class="text-gray-700 dark:text-gray-400">Subtotal</span>
         <span class="cartSubTotal text-xl font-bold text-gray-700 dark:text-gray-400 "> </span>
       </div>

       <div class="flex items-center justify-between pb-4 mb-4 ">
         <span class="text-gray-700 dark:text-gray-400 ">Shipping</span>
         <span class="text-xl font-bold text-gray-700 dark:text-gray-400 "> ৳0 </span>
       </div>

       <div class="flex items-center justify-between pb-4 mb-4 ">
         <span class="text-gray-700 dark:text-gray-400">Discount</span>
         <span class="text-xl font-bold text-gray-700 dark:text-gray-400"> ৳0 </span>
       </div>

       <div class="flex items-center justify-between pb-4 mb-4 ">
         <span class="text-gray-700 dark:text-gray-400">Payable Total</span>
         <span class="cartSubTotal text-xl font-bold text-gray-700 dark:text-gray-400"> 0 </span>
       </div>


       <div class="flex items-center justify-between ">
         <button onclick="onConfirmOrder()" data-ripple-light="true" class="btn w-full px-4 py-3 bg-orange-600 text-white">
           <span>Confirm order</span>
         </button>
       </div>
     </div>

   </div>